
@media (max-width: 544px) {  
    #navmenu {font-size:0.7rem;}
  }
@media (min-width: 768px) {  
    #navmenu {font-size:1.3rem;} 
  }
  @media (min-width: 992px) { 
    #navmenu {font-size:1.5rem;} 
  }
   
#align{
  text-align: left;
  padding-left: 30px;
  padding-right: 20px;
}
#all{
  padding-left: 30px;
  padding-right: 20px;
}
